.fondo_pantalla {

    background-color: #EFEBA1;

}

h1 {

    color: #333;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;

}

h2 {

    color: #333;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 5px;

}

.logo_grande {

    text-align: center;
    margin-bottom: 5px;

}

p {
    margin: 5px 0;
    font-family: 'Carrois Gothic', sans-serif;
    text-align: center;
    max-width: 80ch;
    
}

section {
    padding-top: 40px;
}

.inicio_web {

    font-family: 'Carrois Gothic', sans-serif;
    
}

hr {

    border: 1px solid #ddd;

}

.dropdown-menu {

    z-index: 1;

}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }

}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;

  }
}	
/* ============ small devices .end// ============ */
.nav-link dropdown-toggle {

    font-family: 'Carrois Gothic', sans-serif;
    color: #333;

}

.navbar-brand {

    font-family: 'Carrois Gothic', sans-serif;

}

.fa-solid {

    color: #f99456;

}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fade-up {
    animation: fade-up 2s ease-out forwards;
}

.dropdown-menu {

    display: none;
    
  }
  
  .show {
    display: block !important;
  }

.imagen_centro {

    text-align: center;
    object-fit: contain;

}

.texto_izquierda {

    padding-right: 66%;

}

.texto_izquierda2 {

    padding-right: 45.5%;

}

.texto_izquierda3 {

    padding-right: 61%;

}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;

}
.parallaxBg {
    /* La imagen usada */
    background-image: url("paralaje_zamora.png");
    
    /* Altura completa */
    height: 45%; 
    
    /* Crear el efecto de scroll parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.parallaxBg2 {
    /* The image used */
    background-image: url("estadio_zamora.png");

    /* Full height */
    height: 45%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

:root {
    --tri-base: 40px
  }

  /* Bootstrap */

  .dropdown-item:hover {
    color: #A9A9A9;
    box-shadow: inset 0 -2.5px 0 0 #A9A9A9; 
  }